body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  position: fixed;
  top: 0px;
  bottom: 0px;
  z-index: 1026;
  width: 264px;
  overflow-x: hidden;
  overflow-y: scroll;
  --tw-bg-opacity: 1;
  background-color: rgb(43 54 75 / var(--tw-bg-opacity));
  --tw-shadow: 1px 0 20px 0 #3f4d67;
  --tw-shadow-colored: 1px 0 20px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sidenav::-webkit-scrollbar {
  width: 8px;   /* pour la verticale */
}

.sidenav::-webkit-scrollbar-thumb {
  width: 3px;
  opacity: 0; /* invisible par défaut */
  transition: opacity 0.3s;
}
.sidenav.scrolling::-webkit-scrollbar-thumb {
  background-color: #a9b7d04d;     /* couleur du curseur */
  border-radius: 10px;
}


.sidenav .lien-item {
  padding: 8px 8px 8px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #a9b7d0;
  display: flex;
  flex-direction: row;
  transition: 0.3s;
}

.sidenav .lien-item:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

ul{

  display: none;
 
}

/* Conteneur principal */
.video-header {
    position: relative;
    height: 80vh;
    overflow: hidden;
}

/* Vidéo en arrière-plan */
.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%) rotate(262deg);
    object-fit: cover;

    /* ajuste la vidéo comme une image de fond */
    filter: brightness(0.6);

    /* rend la vidéo un peu plus sombre */
}

/* Arrière-plan du modal */
    .modal {
      display: none; /* caché par défaut */
      position: fixed;
      z-index: 1000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
      justify-content: center;
      align-items: center;
    }

    /* Contenu du modal */
    .modal-content {
      background: #fff;
      padding: 20px 30px;
      border-radius: 10px;
      text-align: center;
      width: 300px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.3);
      animation: fadeIn 0.3s ease-in-out;
    }

    .modal-content h2 {
      color: #28a745; /* vert succès */
      margin-bottom: 10px;
    }

    @keyframes fadeIn {
      from { transform: scale(0.7); opacity: 0; }
      to { transform: scale(1); opacity: 1; }
    }

    @keyframes fadeOut {
      from { opacity: 1; transform: scale(1); }
      to { opacity: 0; transform: scale(0.7); }
    }

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


a .btn-connexion span{
    color: #a9b7d0;
    font-size: medium;
}

a{
  text-decoration: none;
}

.btn-connex {
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}

.btn-connexion{
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 50px;
}

.btn-connexion:hover{
  border-radius: 40px;
  
  background-color: rgba(18, 18, 18, 0.27);
}

.menu-item:hover{
  background-color: rgba(18, 18, 18, 0.27);
}


.nav-n-contact{
  display: flex;
  flex-direction: column;
  height: 75%;
  justify-content: space-between;
}

.nom{
  color: white;
}

.cont-session{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 15px;
}