.cont-list-etp {
    width: 343px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #000000;
    border-style: solid;
    border-radius: 18px;
}

.cont-etp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: inherit;
    grid-gap: 56px;
}

.grid-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-gap: 100px;
}

.cont-serv {
    width: 100%;
    height: 80vh;
    background-color: rgba(211, 185, 108, 0.7);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cont-img-1-1 .img-1-1 {
    width: 380px;
}

.cont-desc-serv {
    display: flex;
    grid-gap: 40px;
    margin-right: 120px;
    margin-left: 120px;
}

.desc-sec-1 {
    display: flex;
    flex-direction: column;
}

.desc-titre {
    font-size: 30px;
    font-weight: bold;
}

.desc-sec-2 {
    display: flex;
    justify-content: space-between;
}

.cont-img-3-2 .img-3-2 {
    width: 200px;
}

.cont-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.separateur-hr {
	border-width: 2px; 
	border-style: solid; 
    width: 700px;
}